---
import { Image } from "astro:assets";
import logoImage from "~/assets/logo.svg";
import HeroImage from "~/components/hero-image.astro";
import Starfield from "~/components/starfield.astro";

const widths = [450, 800];
const widthsLogo = [250, 600];
const sizes = "(min-width: 640px) 42vw, 67vw";
const sizesLogo = "(min-width: 300px) 42vw, 67vw";
---

<section class="relative h-full bg-black py-5 align-middle">
  <Starfield />

  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <div class="relative m-auto w-full h-full">
    <h2
      class="flex flex-col gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end align-middle"
    >
      <div
        id="logo"
        class="max-w-2xl m-auto"
      >
        <Image
          class="h-full my-5 w-3/4 m-auto  block object-cover"
          src={logoImage}
          widths={widths}
          sizes={sizesLogo}
          loading="eager"
          alt="Gaman"
        />
      </div>
      <div
        class=" bg-gradient-to-r from-pink-700 to-blue-400 bg-clip-text text-transparent text-center font-extrabold tracking-tighter text-5xl"
      >
        12/03/2023.
        <br /> coming
        <br /> soon.
        
      </div>
    </h2>
    <h3 class=" text-center text-white font-black">Your IT partner</h3>
  
  </div>
  
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
